<div class="row">
    <div class="col-12">
        <input type="text" (keyup)="buscar(term.value)" #term class="form-control shadow" placeholder="Buscar artistas">
    </div>
</div>

<div class="row" *ngIf="loading">
    <div class="col-12 text-center">
        <app-login></app-login>
    </div>
</div>
<div *ngIf="error" class="alert alert-danger">
    <h3>Error: {{mensajeError}}</h3>
</div>
<div class="row"  *ngIf="!loading">
    <div class="col-12">
        <!--<div class="card-columns">
            <div *ngFor="let artista of resultados" class="card">
                <img [src]="artista.images | noImage" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{artista.name}}</h5>
                    <p class="card-text">
                        <span *ngFor="let genre of artista.genres" class="badge badge-pill badge-success">{{genre}}</span>
                    </p>
                </div>
            </div>
        </div>-->
        <app-cards [Items]="resultados"></app-cards>
    </div>
</div>