<div class="card-columns">
    <div *ngFor="let item of Items" class="card btn" (click)="verArtista(item)">
        <img [src]="item.images | noImage" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text" *ngIf="item.artists">
                <span *ngFor="let artist of item.artists" class="badge badge-pill badge-success">{{artist.name}}</span>
            </p>
            <p class="card-text" *ngIf="item.genres">
                <span *ngFor="let genre of item.genres" class="badge badge-pill badge-success">{{genre}}</span>
            </p>
        </div>
    </div>
</div>